@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

$gothic: "Rounded Mplus 1c", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, "Roboto", "Droid Sans", sans-serif;

html, body, div {
	font-family: $gothic;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.08rem;
}
