doctype html
html(lang="ja" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- Use minimum-scale=1 to enable GPU rasterization
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes")

    meta(name="description" content="Google's material design UI components built with React.")
    meta(name="author"      content="nekonenene")

    //- for Android SmartPhone
    meta(name="theme-color"  content="#eb741d")
    link(rel="shortcut icon" href="")
    link(rel="icon"          href="" sizes="192x192")

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    title Material-UI Example
    link(rel="stylesheet" type="text/css" href="main.css")
  body
    #app
    script(src="app.js")
